.body{
    background-color:#9da7b2;
}

/* Login.css */

body{
    background-color: black;
}









.react-datepicker-wrapper {
    width: 100% !important
}






.error-message {
    color: #d9534f;
    font-size: 14px;
    margin-bottom: 10px;
}

.signup-link {
    margin-top: 10px;
    text-align: center;
}

.signup-link a {
    color: #007bff;
    text-decoration: none;
}

.signup-link a:hover {
    text-decoration: underline;
}


.signup {

    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    background: -webkit-linear-gradient(top, #3884e7, #082d57);
    width: 400px;
    padding: 30px;
    border: solid 1px #ccc;
    border-radius: 8px;
    color: white;
}



.signup-form {
    display: flex;
    flex-direction: column
}

.signup-form label {
    margin-bottom: 5px;
    display: block;

}

.signup-form input {
    padding: 18px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 15px;

}

.signup-form button {
    background: -webkit-linear-gradient(left, #3576b6, #4779aa, #8eb1d3, #377dc2);
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    height: 40px;
}

.signup-btn {
    height: 40px;
    width: 100px;
}

.login-btn {
    height: 40px;
    width: 100px;
}

.datePicker {
    /* Customize the overall container */
    margin: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.MuiPickersDay-root {
    /* Customize the color of all days */
    color: green;

    &.Mui-selected {
        /* Customize the selected day's background and text color */
        background-color: blue;
        color: white;
    }

    &:hover {
        /* Customize the hover effect */
        background-color: lightblue;
    }
}
